.meter {
  height: 3px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #A7AFBA;
  margin-bottom: -4px;
  position: absolute;
  left: 0;
  right: 0;
}

.meter > div {
  height: 3px;
}

.meter .poor {
  background-color: #af0809;
}

.meter .bad {
  background-color: #da4021;
}

.meter .ok {
  background-color: #ff7c00;
}

.meter .good {
  background-color: #ffdc19;
}

.meter .great {
  background-color: #3ca900;
}

.meter .best {
  background-color: #00ce22;
}


.meter-gen-pass {
  height: 5px;
  max-width: 280px;
  margin-top: -5px;
  position: relative;
}
.meter-gen-pass > div {
  height: 5px;
}
.meter-gen-pass > div.poor {
  background-color: #F39C12;
}
.meter-gen-pass > div.bad {
  background-color: #EFC20F;
}
.meter-gen-pass > div.ok {
  background-color: #D6CF40;
}
.meter-gen-pass > div.good {
  background-color: #C0C75F;
}
.meter-gen-pass > div.great {
  background-color: #9DC96E;
}
.meter-gen-pass > div.best {
  background-color: #79CC97;
}